


body{
	margin: 0;
	padding: 0;
	font-family: poppins;
	scroll-behavior: smooth;
}
*{
	box-sizing: border-box;
}
#main{
	width: 100%;
	position:absolute;
	nav{
		justify-content:space-around;
		align-items:center;
		box-shadow:5px 10px 30px rgba(0,0,0,0.02);
		top: 0;
		left:0;
		width:100%;
		background-color: #FFFFFF;
	a{
		text-decoration: none;
	}
	ul{
		list-style: none;
	li a{
	
		font-size: 1rem;
		font-weight: 500;
		text-transform: uppercase;
		padding:21px;
		
		color: #585b5b;
		letter-spacing:0.1rem;
	

		&:hover{
			background-color: #2adabc;
			color: #FFFFFF;
			box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
			transition:all 0.2s ease;
		}
;
	}
	}
	.logo img{
		height: 55px;
        
	}
	.menu-btn{
		display: none;
	}
	.hey{
		color: #39bfbd;
		font-size: 1rem;
		font-weight: 500;
		border-bottom: 1px solid #40c6c4;
		text-transform: uppercase;

	}
	}
}
#content .content {
      width:100% ;
      justify-content:space-around;
	  align-items:center;
	  background-color:black;
	  padding: 25px 0;
	  margin-top: 0px;
	.model {
        width: 50%;
        height: 500px;
	img{
		width: 100%;
		height: 100%;
		object-fit:contain;
	}
	}
	.content-text{
		width: 50%;
		color:#c8d6e5;
    h1{
    	font-size: 2.5rem;
    	font-weight: 600;
    	word-spacing: 0.4rem;
    	line-height: 0.5rem;
    }
    p{
    	width:400px;
    	font-size:0.9rem;
    	line-height: 1.5rem;
        margin-bottom: 2rem;
    }
    .port-btn{
    	text-decoration: none;
    	color:#FFFFFF;
    	background-color: #1db096;
    	justify-content:center;
    	text-align: center;
        padding: 10px 18px;
        border-radius: 20px;
        font-size: 0.9rem;

        &:hover{
        	background-color: #23cdaf;
        	transition:all 0.3s ease;
        }

    }
	}
}

#skills{
	background-color:#1abc9c;
	display: flex;
	justify-content:space-around;	
	color:#c8d6e5;
	padding:30px;
	width: 100%;

	.skill-text{
		width:50%;
	    margin-left:40px;
    .skill-heading{
    	span{
    		font-size: 1rem;
    		text-transform: uppercase;
    		font-weight: 400;
    		color: #34495e;
    		word-spacing: 0.2rem;

    	}
     h2{
     	font-size: 3rem;
    		text-transform: uppercase;
    		font-weight: 600;
    		color: #34495e;
    		word-spacing: 0.2rem;
    		line-height: 0.5rem;
     }
    }
    .skill-container{
        margin-top: 50px;
    .skil-box {
         margin: 25px 0;
    .s-box-icon i{
      font-size: 3rem;
      padding:5px 10px 5px 5px;
      align-items:center;
      justify-content:center;
      color:#c8d6e5;
     
    }	
    .s-box-text{
    	align-items:center;
      justify-content:center;
      color:#c8d6e5;
      width: 350px;
    	strong{
    		font-size:1rem;
    		margin-bottom: 0px;
    		line-height: 1.5rem;
    	}
    	p{
          margin-top: 0px;
          font-size: 0.9rem;
          line-height: 0.9rem;
    	}
    }
    }
    }

	}
	.skill-img{
		width:50%;
		height: 400px;
		margin-right: 40px;

	img{
		width: 100%;
		height: 100%;
	}	
	}
}


#recent{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	margin: 40px 0;
	.recent-heading{
		text-align: center;
	span{
        color:  #34495e;
        font-size:1.1rem; 
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
		}
	h3{
		color: #34495e;
        font-size:3rem; 
        font-weight:600;
        margin-top:10px;
        letter-spacing: 1px;
	}
	}
	.recent-img{
		margin: 0px 40px;

	img{
		width: 100%;
		height: 100%;
	}
	}
	.recent-btn{
		text-decoration: none;
    	color:#FFFFFF;
    	background-color: #1db096;
    	justify-content:center;
    	text-align: center;
    	margin-top:30px;
        padding: 10px 24px;
        border-radius: 20px;
        font-size: 1rem;

        &:hover{
        	background-color: #23cdaf;
        	transition:all 0.3s ease;
        }
	}
}

#client{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: #bdc3c7;
	padding: 40px 0;
	.client-heading{
		display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
		span{
			font-size: 1.2rem;
			text-transform: uppercase;
			font-weight: 400;
			letter-spacing: 2px;
		}
		h3{
			font-size: 2rem;
			font-weight: 600;
			word-spacing: 5px;
			line-height: 0.1rem;
		}
	}
	.c-box-container{
      
	.client-box{
		width: 310px;
		background-color:#95a5a6;
		text-align: center;
		border-radius: 16px;
		margin: 20px;
		padding: 30px 16px 30px 16px;

		&:hover{
			transform:translateY(-10px);
			box-shadow:5px 10px 30px rgba(0,0,0,0.1);
			transition:all 1s ease;
		}

	img{
		width: 100%;
		height: 250px;
		border-radius: 50%;
		object-fit:cover;
	}
	.star{
		justify-content:center;
	    align-items:center;
	    i{
	    	color: #e67e22;
	    	padding: 5px;
	    }	
	}
	p{
		color:#34495e;
		font-size: 0.9rem;
		display: block;
		margin: 15px 0;
		line-height: 1.4rem;
	}
	a{
		text-decoration: none;
    	color:#FFFFFF;
    	background-color: #1db096;
    	justify-content:center;
    	text-align: center;
        padding: 10px 24px;
        border-radius: 20px;
        font-size: 1rem;

        &:hover{
        	background-color: #23cdaf;
        	transition:all 0.3s ease;
        }
	}
	}	
	}
}

#contact{
	display: flex;
	flex-direction:column;
	justify-content:center;
    align-items: center;
     background-color: #FFFFFF;
    padding: 40px 0;
    img{
    	height: 400px;
    }
    h3{
    	font-size: 2rem;
		font-weight: 600;
		word-spacing: 5px;
		line-height: 0.1rem;
    }
    .contact-input{
    	width: 400px;
    	height:50px;
    	display: flex;
	    justify-content:center;
        border-radius: 50px;
        box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
       

    input{
    	width: 100%;
    	background-color: #ecf0f1;;
    	outline: none;
    	text-align: center;
    	border:none;
    	padding: 5px;
    	font-size: 0.9rem;

    }
    a{
    	width:200px; 
        text-decoration: none;
    	color:#FFFFFF;
    	background-color: #1db096;
    	display: flex;
    	justify-content:center;
    	align-items:center;
    	text-align: center;
    	margin: auto 10px;
        padding: 10px;
        border-radius: 20px;
        font-size: 1rem;
        font-weight: 500;

        &:hover{
        	background-color: #23cdaf;
        	transition:all 0.3s ease;
        }	
    }
    }
}
footer{
	justify-content:space-around;
	border-top:1px solid rgba(232,232,232,0.2);
	background-color:#bdc3c7;
	p{
     margin:15px 0;
     color: #5f5f5f;
     font-size: 0.9rem;
	}
}

@import"utility";